:root{
    --background :#FFFFFE;
    --backgroundInvers :#181818;
}

body{
    background-color: var(--background);
}

.overlay{
    position: fixed;
    background-color: salmon;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
